@use "variables";

@mixin width-container {
    width: 100%;
    max-width: variables.$container-width;
    margin: 0 auto;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin bg-image($img) {
    background-image: url("/assets/img/#{$img}");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    transition: all 0.6s;

    &:hover {
        background-size: 110%;
        filter: grayscale(0%);
        background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
        url("/assets/img/#{$img}");
    }
}

@mixin responsive-768px {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin responsive-425px {
    @media screen and(max-width: 425px) {
        @content;
    }
}

@mixin responsive-375px {
    @media screen and(max-width: 375px) {
        @content;
    }
}

@mixin responsive-320px {
    @media screen and(max-width: 320px) {
        @content;
    }
}