@use "variables";
@use "mixins";

//Reset;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-family: "Josefin Sans";
}

img {
    max-width: 100%;
}

html {
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: variables.$bg-color;
    color: variables.$text-color;

    a {
        color: variables.$text-color;
        text-decoration: none;
        transition: all 0.4s;
    }

    ul {
        list-style: none;
    }
}

.header {
    padding: 1.5rem 0;
    display: flex;
    justify-content: space-between;
    @include mixins.width-container;

    @include mixins.mediaQuerry(768px) {
        justify-content: space-around;
        padding: 1.3rem 0;
    }

    @include mixins.mediaQuerry(425px) {
        flex-direction: column;
        align-items: center;
        gap: 0.9rem;
        padding: 1.1rem 0;
    }

    @include mixins.mediaQuerry(375px) {
        gap: 0.8rem;
        padding: 1rem 0;
    }

    @include mixins.mediaQuerry(320px) {
        gap: 0.7rem;
    }

    &-brand {
        color: variables.$primary-color;
        font-size: 2.5rem;

        @include mixins.mediaQuerry(768px) {
            font-size: 2.3rem;
        }

        @include mixins.mediaQuerry(425px) {
            font-size: 2.2rem;
        }

        @include mixins.mediaQuerry(375px) {
            font-size: 2rem;
        }

        @include mixins.mediaQuerry(320px) {
            font-size: 1.8rem;
        }

        &:hover {
            color: variables.$secundary-color;
        }
    }

    &-navbar {
        ul {
            height: 100%;
            @include mixins.flex-center;
            gap: 1rem;

            @include mixins.mediaQuerry(375px) {
                // flex-direction: column;
            }

            @include mixins.mediaQuerry(375px) {
                gap: 0.4rem;
            }

            @include mixins.mediaQuerry(320px) {
                gap: 0.3rem;
            }

            li {
                text-transform: uppercase;
                font-size: 0.9rem;
                padding: 5px;

                @include mixins.mediaQuerry(768px) {
                    font-size: 0.8rem;
                }

                @include mixins.mediaQuerry(375px) {
                    padding: 4px;
                }

                @include mixins.mediaQuerry(320px) {
                    font-size: 0.7rem;
                    padding: 3px;
                }

                .active {
                    color: variables.$secundary-color;
                }

                a {
                    &:hover {
                        color: variables.$secundary-color;
                    }
                }
            }
        }
    }

    &-social-media {
        ul {
            @include mixins.flex-center;
            height: 100%;
            gap: 1rem;

            li {
                padding: 2px;

                i {
                    font-size: 1.1rem;

                    @include mixins.mediaQuerry(768px) {
                        font-size: 1rem;
                    }

                    @include mixins.mediaQuerry(320px) {
                        font-size: 0.9rem;
                    }

                    &:hover {
                        transition: all 0.15s ease;
                        cursor: pointer;
                        color: variables.$secundary-color;
                    }
                }
            }
        }
    }
}

.gallery {
    @include mixins.width-container;
    @include mixins.flex-center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;

    @include mixins.mediaQuerry(768px) {
        width: 95%;
    }

    @include mixins.mediaQuerry(425px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &-card {
        @include mixins.flex-center;
        width: 31%;
        height: 350px;
        margin-bottom: 2%;
        flex-direction: column;
        color: variables.$primary-color;

        @include mixins.mediaQuerry(768px) {
            width: 49%;
            height: 330px;
        }

        @include mixins.mediaQuerry(425px) {
            width: 95%;
            margin-bottom: 30px;
        }

        @include mixins.mediaQuerry(375px) {
            height: 300px;
            margin-bottom: 20px;
        }

        @include mixins.mediaQuerry(320px) {
            height: 280px;
            margin-bottom: 15px;
        }

        &-title {
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 1rem;

            @include mixins.mediaQuerry(768px) {
                font-size: 1.7rem;
            }

            @include mixins.mediaQuerry(425px) {
                font-size: 1.6rem;
            }

            @include mixins.mediaQuerry(375px) {
                font-size: 1.5rem;
            }

            @include mixins.mediaQuerry(320px) {
                font-size: 1.4rem;
            }
        }

        &-btn {
            padding: .6rem 2rem;
            border: 2px solid variables.$primary-color;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 1px;

            @include mixins.mediaQuerry(768px) {
                padding: .6rem 1.5rem;
                font-size: 0.9rem;
            }

            @include mixins.mediaQuerry(425px) {
                padding: .5rem 1.1rem;
                font-size: 0.8rem;
            }

            @include mixins.mediaQuerry(375px) {
                padding: .5rem 1rem;
            }

            @include mixins.mediaQuerry(320px) {
                padding: .5rem 0.9rem;
                font-size: 0.7rem;
            }

            &:hover {
                background-color: variables.$primary-color;
                color: variables.$bg-color;
            }
        }
    }

    #card-1 {
        background-image: url(/assets/img/animais.jpg);
        @include mixins.background-image;

        &:hover {
            background-size: 110%;
            filter: grayscale(0%);
            background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
            url(/assets/img/animais.jpg);
        }
    }

    #card-2 {
        background-image: url(/assets/img/arquitetura.jpg);
        @include mixins.background-image;

        &:hover {
            background-size: 110%;
            filter: grayscale(0%);
            background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
            url(/assets/img/arquitetura.jpg);
        }
    }

    #card-3 {
        background-image: url(/assets/img/cidade.jpg);
        @include mixins.background-image;

        &:hover {
            background-size: 110%;
            filter: grayscale(0%);
            background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
            url(/assets/img/cidade.jpg);
        }
    }

    #card-4 {
        background-image: url(/assets/img/decoracao.jpg);
        @include mixins.background-image;

        &:hover {
            background-size: 110%;
            filter: grayscale(0%);
            background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
            url(/assets/img/decoracao.jpg);
        }
    }

    #card-5 {
        background-image: url(/assets/img/esportes.jpg);
        @include mixins.background-image;

        &:hover {
            background-size: 110%;
            filter: grayscale(0%);
            background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
            url(/assets/img/esportes.jpg);
        }
    }

    #card-6 {
        background-image: url(/assets/img/natureza.jpg);
        @include mixins.background-image;

        &:hover {
            background-size: 110%;
            filter: grayscale(0%);
            background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
            url(/assets/img/natureza.jpg);
        }
    }

    #card-7 {
        background-image: url(/assets/img/paisagem.jpg);
        @include mixins.background-image;

        &:hover {
            background-size: 110%;
            filter: grayscale(0%);
            background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
            url(/assets/img/paisagem.jpg);
        }
    }

    #card-8 {
        background-image: url(/assets/img/pessoas.jpg);
        @include mixins.background-image;

        &:hover {
            background-size: 110%;
            filter: grayscale(0%);
            background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
            url(/assets/img/pessoas.jpg);
        }
    }

    #card-9 {
        background-image: url(/assets/img/refeicoes.jpg);
        @include mixins.background-image;

        &:hover {
            background-size: 110%;
            filter: grayscale(0%);
            background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
            url(/assets/img/refeicoes.jpg);
        }
    }
}

footer {
    text-align: center;
    padding-bottom: 1rem;

    span {
        font-weight: bold;
        color: variables.$secundary-color;

        @include mixins.mediaQuerry(320px) {
            font-size: 0.9rem;
        }
    }
}